---
title: 'Verification'
section: 2.4
---
