@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quinlliyk';
  src: url('/fonts/Quinlliyk/Quinlliyk.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf');
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono-SemiBold';
  src: url('/fonts/JetBrainsMono/JetBrainsMonoNL-SemiBold.ttf');
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
}
